

:root {
  --main-bg-color: #6e6767;
  --main-border-color: #5d5858;
  --main-text-color: #F6F2F6;
}

body {
  background-color: var(--main-bg-color);
  background: url("./Assets/hajer.jpg") no-repeat center center;




}

h1 {
  font-family: Roboto, serif;
}

p {
  font-family:Roboto, serif;
  margin: 0;
  padding: 0;
}
